/** 회원가입/ 로그인/ 비밀번호찾기/ 아이디 찾기 창 css */

input::placeholder{
    font-family: 'Pretendard-Regular';
    font-size: 1rem;
    font-weight: 600;
    color: #979797;
    vertical-align: bottom;
}
input[type=button]{
    border: none;
    outline: none;
}

.input-text{
    border: none;
    outline: none;
    border-bottom:1px solid var(--text-color) ;
    width: 25vw;
    font-family: 'Pretendard-Regular';
    font-size: 1.2rem;
    margin: 2rem;

}

.login-tools{
    width: 100%;
    display: flex;
    justify-content: space-between;

    margin-top: 1.5rem;
}

.duplication-check{
    position: relative;
}
.duplication-btn{
    position: absolute;
    top: 10px;
    right: 30px;
    bottom: 5px;
}


.logintool-text{
    font-weight: 600;
}

.form-section{
    height: 100%;
}

.form-css{
    height: 100%;
}

.input-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.magin-t-1{
    margin-top: 1rem;
}