<header class="cd-header">
    <div class="logo-icon-container">

        <div class="header-logo">
            <img src="img/logo/logo_color.png" alt="">
        </div>

        <div class="icon-container">
            <span class="header-btn"><a href="#">로그아웃</a></span>
            <i class="fa-solid fa-bars nav-icon" id="navIconBar"></i>
        </div>
        
    </div>

    <nav id="cdNavDropDown" class="cd-nav hidden">
        <ul class="nav-ul">
            <li class="nav-li"><a href="#">근처 샵 보기</a><i class="fa-solid fa-map"></i></li>
            <li class="nav-li"><a href="#">갤러리 구경하기</a><i class="fas fa-camera-retro"></i></li>
            <li class="nav-li"><a href="#">반려동물 등록하기</a><i class="fas fa-paw"></i></li>
            <li class="nav-li"><a href="#">예약 확인하기</a><i class="fas fa-clipboard-list"></i></li>
            <li class="nav-li"><a href="#">마이 페이지</a><i class="fas fa-user"></i></li>
        </ul>
    </nav>
</header>


    <script>
        const navIconBar = document.querySelector('#navIconBar');
        const cdNavDropDown = document.querySelector('#cdNavDropDown');

        navIconBar.addEventListener("click",(e)=>{
            e.preventDefault;
            cdNavDropDown.classList.toggle("hidden");
        })
    </script>